@font-face {
    font-family: 'Baloo2-ExtraBold';
    src: url('Baloo2-ExtraBold.eot');
    src: url('Baloo2-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Baloo2-ExtraBold.woff2') format('woff2'),
        url('Baloo2-ExtraBold.woff') format('woff'),
        url('Baloo2-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Baloo2-Bold';
    src: url('Baloo2-Bold.eot');
    src: url('Baloo2-Bold.eot?#iefix') format('embedded-opentype'),
        url('Baloo2-Bold.woff2') format('woff2'),
        url('Baloo2-Bold.woff') format('woff'),
        url('Baloo2-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Baloo2-Medium';
    src: url('Baloo2-Medium.eot');
    src: url('Baloo2-Medium.eot?#iefix') format('embedded-opentype'),
        url('Baloo2-Medium.woff2') format('woff2'),
        url('Baloo2-Medium.woff') format('woff'),
        url('Baloo2-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Baloo2-Regular';
    src: url('Baloo2-Regular.eot');
    src: url('Baloo2-Regular.eot?#iefix') format('embedded-opentype'),
        url('Baloo2-Regular.woff2') format('woff2'),
        url('Baloo2-Regular.woff') format('woff'),
        url('Baloo2-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Baloo2-SemiBold';
    src: url('Baloo2-SemiBold.eot');
    src: url('Baloo2-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Baloo2-SemiBold.woff2') format('woff2'),
        url('Baloo2-SemiBold.woff') format('woff'),
        url('Baloo2-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

